<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </head>
  <body>
  	my name = <p id='name'>12345</p><br>
  	mycard = <p id='mycard'>12345</p><br>
    mycard_color = <p id='mycard_color'>12345</p><br>
  	turncard = <p id='turncard'>12345</p><br>
  	turn is  = <p id='turn'>12345</p>
  	<input id='myinput' type="text" value='[]'>
  	<input id='mybutton' type="button" onclick="oncli()" value='送出'>
  </body>
</html>